@font-face {
    font-family: 'LEGO hollow';
    src: url(../fonts/lego-hollow.ttf);
}

:root {
    --primary-color: rgb(227, 0, 11);
    --secondary-color: rgb(242, 242, 242);
    --tertiary-color: rgb(255, 255, 0);

    --ff-title: "Roboto", sans-serif;
    --ff-text: "Lora", serif;
    --ff-logo: "LEGO hollow", sans-serif;

    --shadow: 0.1em 0.1em 0.15em rgb(90, 90, 90);
}

* {
    box-sizing: border-box;
    box-sizing: inherit;
    margin: 0;
}

/* default elements */
body {
    background-color: var(--primary-color);
}

main {
    background-color: var(--secondary-color);
    border-radius: 0.5em;
    margin: 0.6rem;
    padding: 0.75em 0.6rem;

    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

header a {
    text-decoration: none;
}

footer {
    color: var(--secondary-color);
    margin-bottom: 0.75rem;
}

main a, footer a {
    font-weight: 800;
}

main a:hover, footer a:hover {
    text-decoration: none;
    transition: 0.15s;
}

main a {
    color: var(--primary-color);
}

main a:hover {
    border-bottom: 2px solid var(--primary-color);
}

footer a {
    color: var(--secondary-color);
}

footer a:hover {
    border-bottom: 2px solid var(--secondary-color);
}

p:last-child {
    margin-bottom: 2em;
}

ul {
    list-style: none;
}

footer {
    text-align: center;
    font-family: var(--ff-title);
    font-weight: 600;
    font-size: 1.2rem;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

/* typography */
h1 {
    font-family: var(--ff-logo);
    font-weight: 500;
    font-size: 3em;
}

h2, h3, h4 {
    font-family: var(--ff-title);
    margin: 0.5rem 0.75rem;
}

main p {
    font-family: var(--ff-text);
    margin: 0 0.75rem 0.5rem 0.75rem;
    max-width: 70ch;
    font-size: 1.15rem;
}

/* main */
.flex-container {
    display: flex;
    gap: 3.5em;
}

.flex-container > * {
    align-self: center;
}

main img, main iframe {
    border-radius: 1.5em;
    box-shadow: var(--shadow);
    max-width: 300px;
}

main figure {
    padding: 1em;
}

main section {
    margin-bottom: 2.5rem;
}

@media (width < 58rem) {
    .flex-container {
        gap: 0.5em;
    }

    main figure {
    padding: 0.25em;
    }

    .img-right {
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .img-left {
        flex-direction: column-reverse;
        padding-bottom: 1rem;
    }
}

/* locked site */
.locked-img {
    border-radius: 0.5em;
    max-height: 400px;
}

@media (width < 58rem) {
    .locked-img {
        max-height: 250px;
    }
}


/* for identifying javascript objects */
.purple {
    color: purple;
    background-color: purple;
}