/* diensten */
section#diensten {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
}

section#diensten > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 275px;
}

section#diensten h2 {
    font-size: 1.7rem;
}

section#diensten p {
    font-size: 1.05rem;
}

.image-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: left;
  margin-bottom: 1rem;
}