/* scroll watcher */
.scroll-watcher {
    height: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--curacare-red);
    width: 0%;
}

/* nav */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.85rem 1rem 1rem 0.85rem;
    font-family: var(--ff-title);
    align-items: center;
    background-color: var(--dark-black);
}

header * {
    color: var(--clear-white);
}

header a {    
    text-decoration: none;
}

nav {
    margin-left: 2rem;
    font-size: 0.85rem;
    padding-right: 1rem;
}

nav a:hover, .current-page a {
    background-color: var(--curacare-red);
    padding: 0.3rem 0.5rem;
    border-radius: 0.35em;
    color: var(--dark-black);
    font-weight: 500;
}

nav a:hover {
    transition: 0.4s;
}

.header-logo {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    font-size: 2.55rem;
    text-transform: uppercase;
    align-items: center;
    margin-bottom: 1.25rem;
    font-weight: 450;
}

.header-logo img {
    max-width: 135px;
}

.header-logo:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

@media (width < 55rem) {
    .header-logo {
       margin-bottom: 0.5rem; 
    }
}

/* big screen nav list */
@media (width >= 75rem) {
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 1.8em;
    }

    nav a {
        font-size: 1.8em;
    }
}

/* hamburger menu (small screen nav list) */
@media (width < 75rem) {
    nav ul {
        position: fixed;
        z-index: 10;
        width: 100%;
        left: 100vw;
        display: flex;
        flex-direction: column;
        margin-top: 0.4rem;
        padding: 1.85em;
        justify-content: space-around;
        align-items: baseline;
        gap: 2em;
        visibility: hidden;
        background-color: var(--dark-black);
        box-shadow: 0px 8px 6px -6px rgb(28, 28, 28);
        border: 3px solid var(--curacare-red);
        border-radius: 1em;
    }

    nav a {
        font-size: 1.5em;
    }

    .hamburger-menu {
        height: 75px;
        width: 75px;
        position: relative;
        z-index: 2;
    }

    .hamburger-menu span {
        height: 7.5px;
        width: 80%;
        background-color: var(--curacare-red);
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s ease;
        margin: 0 5px;
    }

    .hamburger-menu span:nth-child(1) {
        top: 25%;
    }    

    .hamburger-menu span:nth-child(3) {
        top: 75%;
    } 

    .hamburger-menu:hover {
        opacity: 0.8;
        cursor: pointer;
        transition: 0.5s ease;
    }

    .hamburger-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .hamburger-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg); 
    }

    nav ul.active {
        visibility: visible;
        transition: 0.5s ease;
        left: 2.5vw;
    }

    .disable-scrolling {
        height: 100%;
        overflow-y: hidden;
    }
}

@media (width < 510px) {
    .header-logo p {
        display: none;
    }
}
