:root {
    --curacare-red: rgb(230, 30, 60);

    --dark-black: rgb(28, 28, 28);
    --dark-grey: rgb(45, 50, 61);
    --clear-white: rgb(255, 255, 255);
    --broken-white: rgb(242, 242, 242);

    --ff-title: "Roboto", sans-serif;
    --ff-text: "Arial", sans-serif;

    --shadow: 0.1em 0.1em 0.15em rgb(90, 90, 90);
}

* {
    box-sizing: border-box;
    box-sizing: inherit;
    margin: 0;
    background-color: var(--dark-black);
    color: var(--dark-black);
}

/* default elements */
main, main * {
    background-color: var(--broken-white);
}

main p {
    margin: 0.5em 0;
    max-width: 50ch;
    font-size: 1.15rem;
    font-family: var(--ff-text);
}

main p em {
    font-style: normal;
    font-weight: 600;
}

main, footer {
    border-radius: 0.5em;
    margin: 0.4rem;
    padding: 0.75em 0.6rem;

    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

footer {
    background-color: var(--dark-black);
    color: var(--clear-white);
    font-size: 1.1rem;
    font-family: var(--ff-text);
}

footer * {
    background-color: inherit;
    color: inherit;
}

footer p {
    color: var(--clear-white);
    margin: 0.5rem 0;
}

footer > p {
    font-weight: 600;
    font-size: 1.25rem;
}

footer h2 {
    margin: 1.5rem 0 0 0;
}

@media (width > 47rem) {
    footer div {
        display: flex;
        flex-direction: row;
        gap: 2.5em;
    }
}

main a, footer a {
    /* to do */
}

main a:hover, footer a:hover {
    /* to do */
}

main p:last-child {
    margin-bottom: 2em;
}

ul {
    list-style: none;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

/* typography */
h1, h2, h3, h4 {
    font-family: var(--ff-title);
    margin-bottom: 0.5em;
}

h1 {
    margin-top: 0.75rem;
    text-transform: uppercase;
}

h2 {
    display: inline-block;
    padding-bottom: 0.25rem;
    margin-bottom: 0.8rem;
    border-bottom: solid 3px var(--curacare-red);
}

main h2 {
    font-size: 2rem;
}

footer h2 {
    font-size: 1.7rem;
}

main p {
    font-family: var(--ff-text);
}

/* section */
section {
    margin-bottom: 1.75rem;
}

section:last-child {
    margin-bottom: 2.5rem;
}

/* sections with image */
main section img {
    max-width: 425px;
    border-radius: 1em;
    box-shadow: var(--shadow);
}

section.flex-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    margin: 1.5rem;
}

@media (width < 55rem) {
    section.flex-container {
        gap: 0rem;
        margin: 1rem;
        margin-bottom: 2rem;
    }

    section.flex-container.img-right {
        flex-direction: column;
    }

    section.flex-container.img-left {
        flex-direction: column-reverse;
    }

    main section img {
        max-width: 375px;
    }
}

@media (width < 35rem) {
    main section img {
        max-width: 300px;
    }
}