/* section FOXTROT */
section.foxtrot img {
  box-shadow: none;
  max-height: 500px;
}

@media (width < 55rem) {
  section.foxtrot img {
    max-height: 400px;
  }
}

p#foxtrot-slogan {
  font-size: 1.5em;
  font-weight: 600;
}

/* section: sponsors */
section.sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#sponsor-logos img {
  box-shadow: none;
  border-radius: 0;
  max-height: 100px;
}

div#sponsor-logos {
  margin-top: 1rem;
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

#sponsor-logos a:hover {
  transform: scale(1.3);
  transition: 0.7s ease;
}

/* section: social media */
section.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

section.social-media > div {
  display: flex;
  margin: auto;
  gap: 2em;
}

section.social-media img {
  box-shadow: none;
  max-height: 190px;
}

section.social-media h3 {
  font-size: 1.8rem;
}

section.social-media a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

section.social-media a:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

/* intro video */
.hero {
    position: relative;
    overflow: hidden;
    height: 70vh;
}

.hero header {
    position: relative;
    z-index: 2;
}

.hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

header p {
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

header, header * {
    background: none;
}

main, footer {
    margin: 0;
    border-radius: 0;
}

@media (width >= 75rem) {
  nav a {
    text-shadow:
      -0.75px -0.75px 0 black,
      0.75px -0.75px 0 black,
      -0.75px 0.75px 0 black,
      0.75px 0.75px 0 black;
  }

  .current-page a,
  nav a:hover {
    text-shadow: none;
  }

  nav a:hover,
  .current-page a {
    border: solid 1.25px black;
  }
}

@media (width < 75rem) {
  .hamburger-menu span {
    border: solid 1.25px black;
  }
}
