/* hamburger menu */
@media (width < 40rem) {
    nav ul {
        position: fixed;
        width: 100%;
        top: 1;
        left: 100vw;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        list-style: none;
        align-items: center;
        gap: 1.5em;
        padding: 1.5em 0.5em;
        visibility: hidden;
        background-color: var(--bg-color);
        border-bottom: 1px solid rgb(100,100,100);
    }

    nav li {
        border: 2px solid var(--color-tertiary);
        border-radius: 0.3em;
        text-align: center;
    }

    nav a {
        display: block;
        margin: 0;
        padding: 0.25em;
    }

    nav li:hover {
        border-color: var(--color-secondary);
        color: var(--color-secondary);
        opacity: 0.8;
        border-width: 2.5px;
        transition: 0.5s ease;
    }

    .current-page {
        color: var(--color-secondary);
        border-color: var(--color-secondary);
        border-width: 2.5px;
        font-weight: 800;
    }

    .hamburger-menu {
        height: 55px;
        width: 55px;
        position: relative;
        z-index: 2;
    }

    .hamburger-menu span {
        height: 6px;
        width: 90%;
        background-color: #000;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s ease;
        margin: 0 5px;
    }

    .hamburger-menu span:nth-child(1) {
        top: 25%;
    }    

    .hamburger-menu span:nth-child(3) {
        top: 75%;
    }  

    .hamburger-menu:hover {
        opacity: 0.8;
        cursor: pointer;
        transition: 0.5s ease;
    }

    .hamburger-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .hamburger-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg); 
    }

    nav ul.active {
        visibility: visible;
        transition: 0.5s ease;
        left: 0;
    }
}
