/* default */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.75rem;
    font-family: var(--ff-title);
    align-items: center;
}

.header-logo p {
    transition: opacity 0.5s ease-in-out;
}

.header-logo img:hover {
    opacity: 0.8;
    transition: 0.35s ease;
}

nav {
    margin-right: 0.6rem;
}

nav a {
    color: var(--secondary-color);
    text-transform: lowercase;
}

nav a:hover, .current-page a {
    color: var(--primary-color);
    font-weight: 600;
    padding-bottom: 0.3em;
    border-bottom: 3.75px solid var(--primary-color);
}

nav a:hover {
    opacity: 0.85;
    transition: 0.4s;
}

/* small screen logo */
@media (width < 60rem){
    .header-logo .big {
        opacity: 0;
        visibility: collapse;
        position: absolute;
    }
}

/* big screen logo */
@media (width >= 60rem){
    
    .header-logo .small {
        opacity: 0;
        visibility: collapse;
        position: absolute;
    }
}

/* hamburger menu (small screen nav list) */
@media (width < 48rem) {
    header {
        align-items: baseline;
    }

    nav ul {
        position: fixed;
        width: 100%;
        top: 1;
        left: 100vw;
        z-index: 1;
        display: flex;
        flex-direction: column;
        padding: 2em;
        justify-content: space-around;
        align-items: baseline;
        gap: 2.25em;
        visibility: hidden;
        background-color: var(--bg-color);
        border-bottom: 1px solid var(--text-color);
    }

    nav li {
        text-align: center;
    }

    nav a {
        font-size: 1.4em;
    }

    .current-page {
        font-weight: 800;
    }

    .hamburger-menu {
        height: 55px;
        width: 55px;
        position: relative;
        z-index: 2;
    }

    .hamburger-menu span {
        height: 6px;
        width: 90%;
        background-color: var(--text-color);
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s ease;
        margin: 0 5px;
    }

    .hamburger-menu span:nth-child(1) {
        top: 25%;
    }    

    .hamburger-menu span:nth-child(3) {
        top: 75%;
    }  

    .hamburger-menu:hover {
        opacity: 0.8;
        cursor: pointer;
        transition: 0.5s ease;
    }

    .hamburger-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .hamburger-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg); 
    }

    nav ul.active {
        visibility: visible;
        transition: 0.5s ease;
        left: 0;
    }
}

/* big screen nav list */
@media (width >= 48rem) {
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 2em;
    }

    nav a {
        font-size: 1.8em;
    }
}