:root {
    --bg-color: #fff;
    --primary-color: rgb(0, 12, 148);
    --secondary-color: rgb(0, 8, 72);
    --text-color: rgb(28, 28, 28);

    --ff-title: "Roboto", sans-serif;
    --ff-text: "Lora", serif;
}

* {
    box-sizing: border-box;
    box-sizing: inherit;
    margin: 0;
    color: var(--text-color);
}

/* default elements */
main {
    background-color: rgb(242, 242, 242);
    border-radius: 0.5em;
    margin: 0.6rem;
    padding: 0.75em 0.6rem;

    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

header a {
    text-decoration: none;
}

main a, footer a {
    color: var(--primary-color);
    font-weight: 800;
}

main a:hover, footer a:hover {
    border-bottom: 2px solid var(--primary-color);
    text-decoration: none;
    transition: 0.15s;
}

main p {
    margin: 0.5em 0;
    max-width: 70ch;
    font-size: 1.15rem;
}

p:last-child {
    margin-bottom: 2em;
}

ul {
    list-style: none;
}

footer {
    text-align: center;
    font-family: var(--ff-title);
    font-weight: 600;
    font-size: 1.2rem;
}

/* typography */
h1, h2, h3, h4 {
    font-family: var(--ff-title);
    color: var(--secondary-color);
}

main p {
    font-family: var(--ff-text);
}